## Prepare Environment

In [1]:
# !pip3 install pymongo
# !pip3 install mongoengine
# !pip3 install Faker
# !pip3 install mongomock

In [2]:
# %load_ext nb_black
# %load_ext autoreload
# %autoreload 2

In [3]:
# Prepare environment for importing from src
import sys
import os

sys.path.insert(0, "..")

## Import Dependencies

In [4]:
import random
import datetime

from mongoengine import connect, get_connection

from src.data import initialize_db
from src.utils import drop_db

## Connect to Mock DB

In [5]:
from pymongo import MongoClient

client = connect("assignment", host="mongodb://127.0.0.1:27017")

In [97]:
if not os.environ.get("TEST"):
    drop_db(client, "assignment")

## Generate Fake Data & Insert Them to DB

In [8]:
if not os.environ.get("TEST"):
    initialize_db()

In [9]:
print(client.assignment.list_collection_names())
print(client.assignment.patient.find_one())

['sale', 'patient', 'product', 'comment', 'drug', 'prescription', 'pharmacy', 'user', 'company', 'product_item', 'driver', 'doctor', 'contract']
{'_id': ObjectId('601aefddd97804f997cd3730'), 'national_id': '3389083863', 'first_name': 'Shane', 'last_name': 'Ramirez', 'address': '65423 Rogers Common Apt. 594\nBlairmouth, ME 72858', 'birthdate': datetime.datetime(1978, 3, 4, 0, 0), 'password': 'raymond57', 'doctor_id': ObjectId('601aefddd97804f997cd372f')}

## Examples

In [10]:
print(client.assignment.drug.find_one({"formula": "CH3COOH"}))

{'_id': ObjectId('601aefdfd97804f997cd3ac3'), 'name': 'Midodrine Hydrochloride', 'company_id': ObjectId('601aefddd97804f997cd37fa'), 'formula': 'CH3COOH'}

In [11]:
list(
    client.assignment.drug.aggregate(
        [{"$group": {"_id": "$formula", "count": {"$sum": 1}}}]
    )
)

[{'_id': 'NaNO3', 'count': 13},
 {'_id': 'C5H8NO4Na', 'count': 3},
 {'_id': 'CH4N2S', 'count': 2},
 {'_id': 'MnSO4', 'count': 2},
 {'_id': 'CH3COOH', 'count': 4},
 {'_id': 'H2C2O4', 'count': 2},
 {'_id': 'CH3CHOHCH3', 'count': 2},
 {'_id': 'NH4I', 'count': 3},
 {'_id': 'Na2HPO4', 'count': 4},
 {'_id': 'C18H36O2', 'count': 4},
 {'_id': 'CaC2', 'count': 3},
 {'_id': 'C4H10', 'count': 4},
 {'_id': 'Na3AsO4', 'count': 2},
 {'_id': 'H2SO4', 'count': 10},
 {'_id': 'Na3N', 'count': 5},
 {'_id': 'CH3COONH4', 'count': 1},
 {'_id': 'C2H3ClO2', 'count': 1},
 {'_id': 'CH3CO2K', 'count': 4},
 {'_id': 'C2H4', 'count': 2},
 {'_id': 'C7H6O2', 'count': 4},
 {'_id': 'KF', 'count': 2},
 {'_id': 'C2H3N', 'count': 4},
 {'_id': 'PCl5', 'count': 6},
 {'_id': 'ZnSO4', 'count': 3},
 {'_id': 'Ag2O', 'count': 5},
 {'_id': 'SnCl2', 'count': 4},
 {'_id': 'KCN', 'count': 4},
 {'_id': 'LiBr', 'count': 5},
 {'_id': 'C4H8O2', 'count': 6},
 {'_id': 'CH3CH2OH', 'count': 2},
 {'_id': 'NaBr', 'count': 4},
 {'_id': 'NaClO', 'count': 8},
 {'_id': 'C2HCl3O2', 'count': 2},
 {'_id': 'BaI2', 'count': 2},
 {'_id': 'K2CO3', 'count': 4},
 {'_id': 'KI', 'count': 8},
 {'_id': 'Al', 'count': 3},
 {'_id': 'Cl2', 'count': 4},
 {'_id': 'H2CrO4', 'count': 2},
 {'_id': 'C3H7NO2', 'count': 4},
 {'_id': 'CuCO3', 'count': 2},
 {'_id': 'PCl3', 'count': 3},
 {'_id': 'C6H5', 'count': 3},
 {'_id': 'C2H6Na4O12', 'count': 6},
 {'_id': 'C2H3O2Cl', 'count': 2},
 {'_id': 'HFO2', 'count': 3},
 {'_id': 'K2CrO4', 'count': 2},
 {'_id': 'Na2SO3', 'count': 2},
 {'_id': 'ZnS', 'count': 10},
 {'_id': 'AlCl3', 'count': 4},
 {'_id': 'H2O2', 'count': 3},
 {'_id': 'Na2O2', 'count': 2},
 {'_id': 'CrCl3', 'count': 5},
 {'_id': 'SO4', 'count': 3},
 {'_id': 'KSCN', 'count': 3},
 {'_id': 'C76H52O46', 'count': 1},
 {'_id': 'NH4OH', 'count': 4},
 {'_id': 'C2H6', 'count': 3},
 {'_id': 'H2SiF6\t144.', 'count': 2},
 {'_id': 'SnCl4', 'count': 2},
 {'_id': 'NaClO3', 'count': 4},
 {'_id': 'NaKC4H4O6', 'count': 3},
 {'_id': 'MgSO4', 'count': 5},
 {'_id': 'Na2C10H14N2O8', 'count': 4},
 {'_id': 'KMnO4', 'count': 3},
 {'_id': 'C27H36N2O10', 'count': 2},
 {'_id': 'Na3C6H5O7', 'count': 3},
 {'_id': 'K2SO3', 'count': 3},
 {'_id': 'CH2O2', 'count': 2},
 {'_id': 'C2H5OH', 'count': 8},
 {'_id': 'BaCl2', 'count': 10},
 {'_id': 'NH4NO2', 'count': 1},
 {'_id': 'C8H10', 'count': 3},
 {'_id': 'C6H8O7', 'count': 5},
 {'_id': 'CaCO3', 'count': 1},
 {'_id': 'Cu2O', 'count': 2},
 {'_id': 'Na3PO4', 'count': 6},
 {'_id': 'C12H22O11', 'count': 17},
 {'_id': 'PbI2', 'count': 2},
 {'_id': 'C3H6O2', 'count': 2},
 {'_id': 'CH2O', 'count': 7},
 {'_id': 'HClO4', 'count': 3},
 {'_id': 'HgCl2', 'count': 7},
 {'_id': 'BaSO4', 'count': 3},
 {'_id': 'C2H2', 'count': 2},
 {'_id': 'HBrO', 'count': 3},
 {'_id': 'N2O3', 'count': 5},
 {'_id': 'NH4NO3', 'count': 7},
 {'_id': 'H3PO3', 'count': 5},
 {'_id': 'CCl3COOH', 'count': 5},
 {'_id': 'PI3', 'count': 3},
 {'_id': 'K2Cr2O7', 'count': 11},
 {'_id': 'AgCl', 'count': 2},
 {'_id': 'Ar', 'count': 2},
 {'_id': 'C3H4O4', 'count': 5},
 {'_id': 'C3H6O', 'count': 2},
 {'_id': 'S2O8', 'count': 4},
 {'_id': 'CuSO4', 'count': 3},
 {'_id': 'C4H6O4Ca', 'count': 4},
 {'_id': 'Al2O3', 'count': 5},
 {'_id': 'NiSO4', 'count': 8},
 {'_id': 'LiOH', 'count': 1},
 {'_id': 'C6H6O', 'count': 7},
 {'_id': 'Br2', 'count': 2},
 {'_id': 'H2C2O4\t90.', 'count': 4},
 {'_id': 'C4H8N2O2', 'count': 1},
 {'_id': 'NH4Cl', 'count': 6},
 {'_id': 'Na2C4H4O6', 'count': 3},
 {'_id': 'SnO2', 'count': 5},
 {'_id': 'XeF2', 'count': 1},
 {'_id': 'C6H14O6', 'count': 5},
 {'_id': 'LiCl', 'count': 3},
 {'_id': 'NH3', 'count': 11},
 {'_id': 'ClF3', 'count': 2},
 {'_id': 'BaBr2', 'count': 1},
 {'_id': 'HBr', 'count': 4},
 {'_id': 'AlF3', 'count': 3},
 {'_id': 'KClO3', 'count': 7},
 {'_id': 'CaI2', 'count': 2},
 {'_id': 'CH3CH2CH2OH', 'count': 4},
 {'_id': 'H2C4H4O6', 'count': 1},
 {'_id': 'C6H12N4', 'count': 3},
 {'_id': 'KH2PO4', 'count': 11},
 {'_id': 'Na2S2O3', 'count': 4},
 {'_id': 'AgC2H3O2', 'count': 4},
 {'_id': 'ZnBr2', 'count': 1},
 {'_id': 'SO3', 'count': 2},
 {'_id': 'HNO2', 'count': 1},
 {'_id': 'KNO3', 'count': 12},
 {'_id': 'NaNO2', 'count': 7},
 {'_id': 'OH2', 'count': 1},
 {'_id': 'CH4N2O', 'count': 6},
 {'_id': 'C2H6O2', 'count': 1},
 {'_id': 'NaI', 'count': 2},
 {'_id': 'AlPO4', 'count': 4},
 {'_id': 'KClO', 'count': 1},
 {'_id': 'K2O', 'count': 1},
 {'_id': 'C4H10O', 'count': 5},
 {'_id': 'KNO2', 'count': 3},
 {'_id': 'MgS', 'count': 4},
 {'_id': 'C6H12O6', 'count': 6},
 {'_id': 'Li3PO4', 'count': 3},
 {'_id': 'PbO2', 'count': 3},
 {'_id': 'K2SO4', 'count': 2},
 {'_id': 'N2O5', 'count': 2},
 {'_id': 'PO4', 'count': 7},
 {'_id': 'C6H4Cl2', 'count': 2},
 {'_id': 'Na2Cr2O7', 'count': 5},
 {'_id': 'FeCl3', 'count': 1},
 {'_id': 'MnO2', 'count': 9},
 {'_id': 'Cu2Cl2', 'count': 6},
 {'_id': 'H3BO3', 'count': 2},
 {'_id': 'K2HPO4', 'count': 6},
 {'_id': 'ZnCl2', 'count': 7},
 {'_id': 'BaO', 'count': 2},
 {'_id': 'MgO', 'count': 6},
 {'_id': 'C4H4O4', 'count': 8},
 {'_id': 'C6H6', 'count': 6},
 {'_id': 'N2H4', 'count': 6},
 {'_id': 'H2O', 'count': 3},
 {'_id': 'MgI2', 'count': 3},
 {'_id': 'Fe2O3', 'count': 2},
 {'_id': 'Br', 'count': 2},
 {'_id': 'Cr2O3', 'count': 2},
 {'_id': 'CuCl2', 'count': 4},
 {'_id': 'C2H5NO', 'count': 6},
 {'_id': 'CaCl2', 'count': 10},
 {'_id': 'H3PO4', 'count': 10},
 {'_id': 'HClO', 'count': 4},
 {'_id': 'CaO', 'count': 2},
 {'_id': 'C4H8O4Ni', 'count': 4},
 {'_id': 'C4H6O6', 'count': 2},
 {'_id': 'CH4', 'count': 3},
 {'_id': 'HNO3', 'count': 7},
 {'_id': 'K2C4H4O6', 'count': 7},
 {'_id': 'C10H12O2', 'count': 2},
 {'_id': 'C2H4O', 'count': 7},
 {'_id': 'CO', 'count': 5},
 {'_id': 'NH4HCO3', 'count': 4},
 {'_id': 'Ag3PO4', 'count': 1},
 {'_id': 'Na2O', 'count': 1},
 {'_id': 'MgCO3', 'count': 5},
 {'_id': 'NaC2H3O2', 'count': 3},
 {'_id': 'Li2O', 'count': 1},
 {'_id': 'HCOONa', 'count': 3},
 {'_id': 'H2SO3', 'count': 3},
 {'_id': 'C2H2Cl2O2', 'count': 3},
 {'_id': 'C2Cl4', 'count': 3},
 {'_id': 'SrCl2', 'count': 5},
 {'_id': 'ZnCO3', 'count': 2},
 {'_id': 'NaOH', 'count': 5},
 {'_id': 'HI', 'count': 4},
 {'_id': 'KHCO3', 'count': 8},
 {'_id': 'CrO3', 'count': 2},
 {'_id': 'FeSO4', 'count': 4},
 {'_id': 'CCl4', 'count': 5},
 {'_id': 'C3H6O3', 'count': 5},
 {'_id': 'HIO', 'count': 3},
 {'_id': 'C3H8', 'count': 3},
 {'_id': 'HCl', 'count': 4},
 {'_id': 'C6H6O2', 'count': 7},
 {'_id': 'C5H5N', 'count': 6},
 {'_id': 'Na2SO4', 'count': 5},
 {'_id': 'HCOOH', 'count': 2},
 {'_id': 'CO3', 'count': 4},
 {'_id': 'KBr', 'count': 5},
 {'_id': 'C7H8', 'count': 2},
 {'_id': 'Na2CrO4', 'count': 3},
 {'_id': 'H2CO3', 'count': 8},
 {'_id': 'SO2', 'count': 3},
 {'_id': 'NaHCO3', 'count': 2},
 {'_id': 'C27H28Br2O5S', 'count': 4},
 {'_id': 'MgCl2', 'count': 2},
 {'_id': 'Na2CO3', 'count': 9},
 {'_id': 'C2H6OS', 'count': 10},
 {'_id': 'NaHSO4', 'count': 2},
 {'_id': 'Ag2CO3', 'count': 4},
 {'_id': 'NO2', 'count': 9},
 {'_id': 'He', 'count': 4},
 {'_id': 'BaCO3', 'count': 2},
 {'_id': 'KIO3', 'count': 3},
 {'_id': 'O3', 'count': 3},
 {'_id': 'C7H6O3', 'count': 5},
 {'_id': 'Na2S', 'count': 2},
 {'_id': 'KOH', 'count': 3},
 {'_id': 'BaF2', 'count': 4},
 {'_id': 'KCl', 'count': 4},
 {'_id': 'NaH2PO4', 'count': 1},
 {'_id': 'C2H3O2NH4', 'count': 4},
 {'_id': 'C6H14', 'count': 2},
 {'_id': 'NO', 'count': 2},
 {'_id': 'SiO2', 'count': 4},
 {'_id': 'CrK2O4', 'count': 3},
 {'_id': 'ZnI2', 'count': 1},
 {'_id': 'NH4Br', 'count': 1},
 {'_id': 'C20H14O4', 'count': 1},
 {'_id': 'NaCN', 'count': 4},
 {'_id': 'Na2S2O5', 'count': 2},
 {'_id': 'AgNO3', 'count': 9},
 {'_id': 'TiO2', 'count': 2},
 {'_id': 'C3H8O3', 'count': 8},
 {'_id': 'N2O', 'count': 1},
 {'_id': 'HCN', 'count': 7},
 {'_id': 'NaF', 'count': 2}]

In [12]:
client.assignment.patient.aggregate(
    [
        {
            "$lookup": {
                "from": "doctor",
                "localField": "doctor_id",
                "foreignField": "_id",
                "as": "doctor",
            }
        },
        {"$match": {"doctor.first_name": "Robert"}},
        {"$count": "patients"},
    ]
).next()

{'patients': 9}

## Query Assignments

In [6]:
# نام داروخانه هایی که شماره تلفن آنها با 1+ شروع می شود
print("##1##")
a1 = list(
    client.assignment.pharmacy.find(
        filter={
            'telephone': {
                '$regex': r'^\+1.+$'
            }
        },
        projection={"name": 1, "_id": 0},
    )
)
print(a1)

##1##
[{'name': 'Rogers-Cardenas'}, {'name': 'Jones, Fox and Romero'}, {'name': 'Lee, Moore and Ferrell'}, {'name': 'Ellison-Arias'}, {'name': 'Henry Inc'}, {'name': 'Lopez-Buchanan'}, {'name': 'Weber-Zamora'}, {'name': 'Kennedy Inc'}, {'name': 'Ramirez Group'}, {'name': 'Fry-Douglas'}, {'name': 'Smith, Kemp and Hughes'}, {'name': 'Nicholson, Smith and Hernandez'}]

In [7]:
# شماره ملی افرادی که بعد از تاریخ datetime.datetime(2000, 1, 1, 0, 0) متولد شده اند
print("##2##")
a2 = list(
    client.assignment.patient.find(
        filter={
            'birthdate': {
                '$gt': datetime.datetime(2000, 1, 1, 0, 0)
            }
        },
        projection={"national_id": 1, "_id": 0},
    )
)
print(a2)

##2##
[{'national_id': '7510799118'}, {'national_id': '8069901627'}, {'national_id': '7059640165'}, {'national_id': '9599534283'}, {'national_id': '5973832060'}, {'national_id': '5899441715'}, {'national_id': '9812387800'}, {'national_id': '4271739627'}, {'national_id': '2091241862'}, {'national_id': '0249724399'}, {'national_id': '0242403381'}, {'national_id': '9074260880'}, {'national_id': '3578243477'}, {'national_id': '0961701595'}, {'national_id': '8114578870'}, {'national_id': '8816502544'}, {'national_id': '1123274897'}, {'national_id': '4815269255'}, {'national_id': '8519537749'}, {'national_id': '5700412918'}, {'national_id': '2546862728'}, {'national_id': '8864078802'}, {'national_id': '0186074290'}, {'national_id': '2365401814'}]

In [8]:
# تعداد نسخه هایی که دارای حداقل 15 دارو هستند
print("##3##")
a3 = client.assignment.prescription.find(
    filter={
        '$where': "this.items.length > 15"
    }
).count()
print(a3)

##3##
20

In [9]:
# کد ملی بیمارانی که اسم پزشک آنها "Robert" است
print("##4##")
a4 = list(
    client.assignment.patient.aggregate(
        [
            { 
                "$lookup": {
                    'from': 'doctor',
                    'localField': 'doctor_id',
                    'foreignField': '_id',
                    'as': 'doctor'
                }
            },
            {
                "$unwind": "$doctor"
            },
            {
                "$match": {
                    'doctor.first_name': 'Robert'
                }
            },
            {
                '$project': {
                    'national_id': 1,
                     "_id": 0,
                }
            }
        ]
    )
)
print(a4)

##4##
[{'national_id': '3389083863'}, {'national_id': '0405411526'}, {'national_id': '9267389975'}, {'national_id': '0242403381'}, {'national_id': '0961701595'}, {'national_id': '2611231261'}, {'national_id': '3153888245'}, {'national_id': '4991004202'}, {'national_id': '0259364502'}]

In [10]:
# نام داروخانه ای که دارویی به گرانترین قیمت به آن فروخته شده است
print("##5##")
a5 = client.assignment.sale.aggregate(
    [
        {
            '$group': {
                '_id': None,
                "maxPrice": {
                    "$max": "$price"
                }
            }
        },
        { 
            "$lookup": {
                'from': 'sale',
                'localField': 'maxPrice',
                'foreignField': 'price',
                'as': 'sale'
            }
        },
        {
            "$unwind": "$sale"
        },
        { 
            "$lookup": {
                'from': 'pharmacy',
                'localField': 'sale.pharmacy_id',
                'foreignField': '_id',
                'as': 'pharmacy'
            }
        },
        {
            "$unwind": "$pharmacy"
        },
        {
            '$project': {
                'pharmacy.name': 1,
                "_id": 0,
            }
        },
        {
            "$replaceRoot": {
                "newRoot": "$pharmacy"
            }
        }
    ]
).next()
print(a5)

##5##
{'name': 'Clarke and Sons'}

In [11]:
# نام و فرمول پنج دارویی که گران ترین قیمت برای آنها ثبت شده است
print("##6##")
a6 = list(
    client.assignment.sale.aggregate(
        [
            {
                "$group": {
                    '_id': '$drug_id',
                    'max_price': {
                        '$max': '$price'
                    }
                }
            },
            {
                '$sort': {
                    'max_price': -1
                }
            },
            {
                '$limit': 5
            },
            {
                '$lookup': {
                    'from': 'drug',
                    'localField': '_id',
                    'foreignField': '_id',
                    'as': 'drug'
                }
            },
            {
                "$unwind": "$drug"
            },
            {
                '$project': {
                    'drug.name': 1,
                    'drug.formula': 1,
                    "_id": 0,
                }
            },
            {
                "$replaceRoot": {
                    "newRoot": "$drug"
                }
            }
        ]
    )
)
print(a6)

##6##
[{'name': 'Cyanocobalamin', 'formula': 'H2O'}, {'name': 'Trihexyphenidyl', 'formula': 'C4H8O2'}, {'name': 'Phenytoin', 'formula': 'Al'}, {'name': 'Estradiol', 'formula': 'C3H7NO2'}, {'name': 'Florinef', 'formula': 'KF'}]

In [39]:
# نام تمام داروهایی که در تاریخ datetime.datetime(2020, 9, 23, 0, 0) تجویز شده اند
print("##7##")
a7 = list(
    client.assignment.prescription.aggregate(
        [
            {
                '$match': {
                    'date': datetime.datetime(2020, 9, 23, 0, 0)
                }
            },
            {
                '$project': {
                    '_id': 0,
                    'items.drug_id': 1
                }
            },
            {
                "$replaceRoot": {
                    "newRoot": {
                        "$mergeObjects":[
                            {
                                '_id': '$items.drug_id'
                            }
                        ]
                    }
                }
            },
            {
                "$unwind": "$_id"
            },
            {
                '$lookup': {
                    'from': 'drug',
                    'localField': '_id',
                    'foreignField': '_id',
                    'as': 'drug'
                }
            },
            {
                "$unwind": "$drug"
            },
            {
                '$replaceRoot': {
                    'newRoot': '$drug'
                }
            },
            {
                "$sort" : {
                    "company_id" : 1
                }
            },
            {
                '$project': {
                    '_id': 0,
                    'name': 1
                }
            },
        ]
    )
)
print(a7)

##7##
[{'name': 'Oxycodone HCl'}, {'name': 'Demadex'}, {'name': 'Ceftin'}, {'name': 'Etrafon'}]

In [13]:
# نام تمام کارخانه هایی که داروی با فرمول "C2H6Na4O12" را تولید می کنند
print("##8##")
a8 = list(
    client.assignment.drug.aggregate(
        [
            {
                '$match': {
                    'formula': 'C2H6Na4O12'
                }
            },
            {
                '$lookup': {
                    'from': 'company',
                    'localField': 'company_id',
                    'foreignField': '_id',
                    'as': 'company'
                }
            },
            {
                "$unwind": "$company"
            },
            {
                '$replaceRoot': {
                    'newRoot': '$company'
                }
            },
            {
                '$project': {
                    '_id': 0,
                    'name': 1
                }
            },
        ]
    )
)
print(a8)

##8##
[{'name': 'Williams, Parker and Cross'}, {'name': 'Walker Ltd'}, {'name': 'Moore, Davis and Rodriguez'}, {'name': 'Lopez-Johnson'}, {'name': 'Davis Group'}, {'name': 'Brock-White'}]

In [14]:
# کاربرانی که در سبد آنها ده BasketItem وجود دارد
print("##9##")
a9 = list(
    client.assignment.user.find(
        filter={
            '$where': 'this.basket.length == 10'
        },
        projection={"email": 1, "_id": 0},
    )
)
print(a9)

##9##
[{'email': 'walkerlindsey@hotmail.com'}, {'email': 'terriramirez@yahoo.com'}, {'email': 'lawrence49@gmail.com'}, {'email': 'jonesdeborah@hotmail.com'}, {'email': 'kyle88@hotmail.com'}, {'email': 'wangdavid@yahoo.com'}, {'email': 'osimmons@yahoo.com'}, {'email': 'coxkarl@yahoo.com'}, {'email': 'williamsmichelle@gmail.com'}, {'email': 'castrokaitlin@gmail.com'}, {'email': 'hernandezkatherine@yahoo.com'}, {'email': 'carolmoore@hotmail.com'}, {'email': 'kathleen67@yahoo.com'}, {'email': 'hornejasmine@hotmail.com'}]

In [19]:
print("##10##")
a10 = client.assignment.product_item.aggregate(
    [
        {
            '$match': {
                'size': 'XL'
            }
        },
        {
            '$group': {
                '_id': None,
                'sum': {
                    '$sum': '$quantity'
                }
            }
        },
        {
            '$project': {
                '_id': 0,
                'sum': 1
            }
        }
    ]
).next()
print(a10)

##10##
{'sum': 15593}

In [22]:
# شماره ملی رانندگانی که پلاک آنها به 25 ختم می شود
print("##11##")
a11 = list(
    client.assignment.driver.find(
        filter={
            'license_plate': {
                '$regex': r'^.*25$'
            }
        },
        projection={"_id": 0, "national_id": 1},
    )
)
print(a11)

##11##
[{'national_id': '1956964607'}, {'national_id': '8157341591'}]

In [24]:
print("##12##")
a12 = list(
    client.assignment.comment.find(
        filter={
            'text': {
                '$regex': r'(great|good)'
            }
        },
        projection={"_id": 0, "text": 1},
    )
)
print(a12)

##12##
[{'text': 'Church certainly question share that job ever capital great what mean continue.'}, {'text': 'Piece good reason too evening probably low pull political.'}]

In [31]:
print("##13##")
a13 = client.assignment.comment.aggregate(
    [
        {
            '$match': {
                'rating': 5
            }
        },
        {
            '$count': 'count'
        }
    ]
).next()
print(a13)

##13##
{'count': 12}

In [40]:
answers = {
    "a1": a1,
    "a2": a2,
    "a3": a3,
    "a4": a4,
    "a5": a5,
    "a6": a6,
    "a7": a7,
    "a8": a8,
    "a9": a9,
    "a10": a10,
    "a11": a11,
    "a12": a12,
    "a13": a13,
}

In [41]:
import json
with open("answers.json", "r") as json_file:
    target = json.load(json_file)

In [42]:
correct = 0
for i in range(1, 14):
    if answers["a{}".format(i)] == target["a{}".format(i)]:
        print("Query {:2d} Correct!".format(i))
        correct += 1
    else:
        print("Query {:2d} Wrong!".format(i))
print(correct)

Query  1 Correct!
Query  2 Correct!
Query  3 Correct!
Query  4 Correct!
Query  5 Correct!
Query  6 Correct!
Query  7 Correct!
Query  8 Correct!
Query  9 Correct!
Query 10 Correct!
Query 11 Correct!
Query 12 Correct!
Query 13 Correct!
13

## Print Result to File

In [43]:
# Set your student number
student_number = 90000000
file_path = os.path.join(
    os.getenv("OUTPUT_DIR", "."), "{}.json".format(student_number)
)
with open(file_path, "w") as file:
    corrects = []
    wrongs = []
    for i in range(1, 14):
        if answers["a{}".format(i)] == target["a{}".format(i)]:
            corrects.append(i)
        else:
            wrongs.append(i)
    json.dump({"corrects": corrects, "wrongs": wrongs, "score": len(corrects)}, file)